}

html, body {background: #0B132B; font-family: 'Lato', helvetica, arial, sans-serif; font-size: 1px; color: #50AAA9;}
p { width: 50%; background: #FFF; margin: 315px; border: 315px solid #808080; padding: 15px; font-family: Arial; font-size: 2em; color: #6FFFE9; }
