
html, body {
  background: #0B132B;
  font-family: sans-serif;
  font-size: 5px;
  color: #50AAA9
}


p {
width: 50%;
background: #FFF;
margin: 30px;
border: 30px solid #808080;
padding: 30px;
font-family: sans-serif;
font-size: .5em;
color: #000;
}

